body {
    background: #f5f3f3;
}

.bg-purple {
    background-color: #0a0657;
}

.bg-purpleclear {
    background-color: #9ca0d8;
}

.btn-purpledark {
    background-color: #95bae1;
}

.table-purple {
    background-color: #0a0657;
}